* {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    color: #FFFFFF;
    font-size: 50px;
}