@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

/* set-up */
:root {
    --drak1: #261C2C;
    --drak2: #3E2C41;
    --drak3: #5C527F;
    --drak4: #6E85B2;
    --text-color: #D4ECDD;
    --text-font1: 'Ultra', serif;
    --text-font2: 'Sora', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--drak1);
}

/* set-up end */

/* navbar */

.navbar {
    position: relative;
    z-index: 5;
}

.nav-list {
    padding: 0;
    margin: 0;

    list-style: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    margin: 5px 5px 5px 5px;
}

.nav-link {
    font-size: 18px;
    font-family: 'Ultra', serif;
    -webkit-text-stroke: 1px var(--drak4);
    -webkit-text-fill-color: var(--drak1);
    text-decoration: none;
}

.home-img {
    margin: 5px 5px 5px 5px;
    border: #ffffff solid 2px;

    height: 50px;
    width: 50px;
}

/* navbar end */

/* about */

.about-section {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-img {
    width: 350px;
    height: 230px;
}

.about-name {
    position: relative;
    bottom: 30px;

    margin: 0;
    font-family: var(--text-font1);
    font-size: 43px;
    -webkit-text-stroke: 1px var(--drak4);
    -webkit-text-fill-color: var(--drak1);
}

.about-secname {
    margin: 0;
    font-family: var(--text-font1);
    padding: 10px 10px 10px 10px;
    font-size: 43px;
    -webkit-text-stroke: 1px var(--drak4);
    -webkit-text-fill-color: var(--drak1);
}

.info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: var(--text-font1);
    color: var(--text-color);
    font-size: 40px;
    text-align: center;

    margin: 0;
}

/* about end */

@media screen and (min-width: 840px) {

    .about-img {
        width: 100%;
        height: 100%;
    }

    .about-name {
        position: relative;
        bottom: 45px;
    
        margin: 0;
        font-family: var(--text-font1);
        font-size: 90px;
        -webkit-text-stroke: 1px var(--drak4);
        -webkit-text-fill-color: var(--drak1);
    }

    .about-secname {
        margin: 0;
        font-family: var(--text-font1);
        padding: 10px 10px 10px 10px;
        font-size: 85px;
        -webkit-text-stroke: 1px var(--drak4);
        -webkit-text-fill-color: var(--drak1);
    }

    .info-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        font-family: var(--text-font1);
        color: var(--text-color);
        font-size: 60px;
        text-align: center;
    
        margin: 0;
    }
}
