@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

/* set-up */
:root {
    --drak1: #261C2C;
    --drak2: #3E2C41;
    --drak3: #5C527F;
    --drak4: #6E85B2;
    --text-color: #D4ECDD;
    --text-font1: 'Ultra', serif;
    --text-font2: 'Sora', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--drak1);
}

/* set-up end */

/* navbar */
.navbar { 
    margin-top: 15px;
    background-color: var(--drak1);
}

.nav-list {
    list-style: none;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    font-size: 20px;
    font-family: 'Ultra', serif;
    -webkit-text-stroke: 1px var(--drak4);
    -webkit-text-fill-color: var(--drak1);
    margin: 5px 5px 5px 5px;
}

.nav-link {
    text-decoration: none;
}

.nav-img {
    height: 35px;
    width: 35px;

    border: solid 2px #ffffff;
}
/* navbar end */

/* home */
.home
{
    height: 100vh;
    width: 100vw;
}

.home {
    background-color: var(--drak1);
}

.home-section {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.name > p {
    margin: 0;
    font-family: 'Sora', sans-serif;
    line-height: 0.8;
    font-size: 75px;
    -webkit-text-stroke: 1px var(--text-color);
	-webkit-text-fill-color: var(--drak1);
}
/* home end */

/* memes */ 
.memes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.meme {
    padding: 10px;
    height: 30px;
    width: 30px;
}