@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

/* set-up */
:root {
    --drak1: #261C2C;
    --drak2: #3E2C41;
    --drak3: #5C527F;
    --drak4: #6E85B2;
    --text-color: #D4ECDD;
    --text-font1: 'Ultra', serif;
    --text-font2: 'Sora', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--drak1);
}

/* set-up end */

/* loading */

.loading {
    width: 100%;
    height: 100%;
    background-color: var(--drak1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* laoding end */

/* navbar */

.navbar {
    position: relative;
    z-index: 5;
}

.nav-list {
    padding: 0;
    margin: 0;

    list-style: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    margin: 5px 5px 5px 5px;
}

.nav-link {
    font-size: 16px;
    font-family: 'Ultra', serif;
    -webkit-text-stroke: 1px var(--drak4);
    -webkit-text-fill-color: var(--drak1);
    text-decoration: none;
}

.home-img {
    margin: 5px 5px 5px 5px;
    border: #ffffff solid 2px;

    height: 50px;
    width: 50px;
}

/* navbar end */

/* work */

.work-section {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.work-img {
    width: 180px;
    height: 180px;
}

.work-title {
    margin: 0;

    text-align: center;
    font-family: var(--text-font1);
    font-size: 35px;
    -webkit-text-stroke: 1px var(--drak4);
    -webkit-text-fill-color: var(--drak1);
}

/* work-end */

@media (min-width: 1025px) {
    
    .nav-link {
        font-size: 25px;
        font-family: 'Ultra', serif;
        -webkit-text-stroke: 1px var(--drak4);
        -webkit-text-fill-color: var(--drak1);
        text-decoration: none;
    }
  
    .work-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .work {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        padding: 50px;
        margin: 20px 0 20px 0;
    }

    .work-img {
        width: 320px;
        height: 320px;
    }

    .work-title {
        margin: 0;
    
        text-align: center;
        font-family: var(--text-font1);
        font-size: 65px;
        -webkit-text-stroke: 1px var(--drak4);
        -webkit-text-fill-color: var(--drak1);
    }
    
  }


@media (min-width: 768px) and (max-width: 1024px) {

    .nav-link {
        font-size: 25px;
        font-family: 'Ultra', serif;
        -webkit-text-stroke: 1px var(--drak4);
        -webkit-text-fill-color: var(--drak1);
        text-decoration: none;
    }

    .work-list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .work {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        padding: 50px;
        margin: 20px 0 20px 0;
    }

    .work-img {
        width: 320px;
        height: 320px;
    }
  
    .work-title {
        margin: 0;
    
        text-align: center;
        font-family: var(--text-font1);
        font-size: 65px;
        -webkit-text-stroke: 1px var(--drak4);
        -webkit-text-fill-color: var(--drak1);
    }
    
}

